[tool.poetry]
name = "aio-overpass"
version = "0.4.0"
description = "Async client for the Overpass API"
authors = ["Tim Wiechers <mail@timwie.dev>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/timwie/aio-overpass"
documentation = "https://www.timwie.dev/aio-overpass/"
packages = [{ include = "aio_overpass" }]
include = ["CHANGELOG.md"]
exclude = ["examples/", "test/", "tasks.py"]
keywords = [
    "geojson",
    "geospatial",
    "gis",
    "openstreetmap",
    "osm",
    "overpass-api",
    "public-transport",
    "spatial-analysis",
    "spatial-data",
    "shapely",
]
classifiers = [
    # TODO "Development Status :: 4 - Beta"
    #   - complete test suites
    #   - usability testing
    #   - check for performance issues

    # TODO "Development Status :: 5 - Production/Stable"
    #   - release 1.0
    #   - field-tested
    #   - no major bugs

    "Development Status :: 3 - Alpha",
    "Environment :: Web Environment",
    "Framework :: aiohttp",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Topic :: Scientific/Engineering :: GIS",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Internet :: WWW/HTTP",
    "Typing :: Typed",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3 :: Only",
]

[tool.poetry.urls]
"Changelog" = "https://github.com/timwie/aio-overpass/blob/main/CHANGELOG.md"
"Coverage" = "https://codecov.io/gh/timwie/aio-overpass"

[tool.poetry.dependencies]
aiohttp = "~3.8"
joblib = { version = "~1.3", optional = true }
networkx = { version = ">=2.7", optional = true }
python = "^3.9"
shapely = { version = "~2.0", optional = true }

[tool.poetry.extras]
joblib = ["joblib"]
networkx = ["networkx"]
shapely = ["shapely"]

[tool.poetry.group.dev.dependencies]
aioresponses = "^0.7.4"
black = "^23.7.0"
codecov = "^2.1.13"
invoke = "^2.2.0"
isort = "^5.12.0"
mypy = "^1.4.1"
pdoc = "^14.0.0"
pytest = "^7.4.0"
pytest-asyncio = "^0.21.1"
pytest-cov = "^4.1.0"
ruff = "^0.0.280"

[tool.poetry.group.notebooks]
optional = true

[tool.poetry.group.notebooks.dependencies]
folium = "^0.14.0"
jupyterlab = "^4.0.3"
papermill = "^2.4.0"
randomcolor = "^0.4.4.6"
selenium = "^4.10.0"
tabulate = "^0.9.0"

[tool.ruff]
# https://github.com/charliermarsh/ruff#configuration
# https://beta.ruff.rs/docs/rules/
line-length = 100
target-version = "py39"
select = [
    "F", "E", "W", "N", "D", "UP",
    "ANN", "S", "B", "C4", "EM", "SIM", "ARG",
    "PL", "TRY", "PERF", "RUF"
]
ignore = [
    "D105", "D107", "D203", "D212",
    "ANN003", "ANN101", "ANN102", "ANN401",
    "C408",
    "PLR2004", "PLW2901",
    "TRY003",
]

# TODO can we select "FIX" with warnings instead of errors?
#   https://github.com/astral-sh/ruff/issues/1256

# Exclude a variety of commonly ignored directories.
exclude = [
    ".git",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".pytest_cache",
    ".ruff_cache",
    "build",
    "doc",
]

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
# https://github.com/psf/black#configuration
line-length = 100

[tool.isort]
# https://pycqa.github.io/isort/docs/configuration/options.html
profile = "black"
line_length=100
indent='    '
multi_line_output=6
lines_after_imports=2
known_first_party="aio_overpass"
sections="STDLIB,FIRSTPARTY,THIRDPARTY,LOCALFOLDER"

[tool.mypy]
# https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-library-stubs-or-py-typed-marker
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
