name: Run integration tests

on:
  workflow_dispatch:
  schedule:
    # run at every half hour
    - cron: '30 * * * *'

jobs:
  script:
    name: Run integration test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        python: ["3.10"]
        file: [
          "any_element_barmbek_nord",
          "any_element_carabanchel",
          "any_element_city_of_london",
          "any_route_barmbek_nord",
          "any_route_carabanchel",
          "any_route_city_of_london",
        ]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: 'poetry'
          cache-dependency-path: poetry.lock

      - name: Install dependencies & library
        run: poetry install --all-extras --no-interaction

      - name: Run test
        run: poetry run python -m test.integration.${{ matrix.file }}
