# Run tests with combinations of major dependency releases.
#
# For numpy, the C API version matters:
# https://github.com/numpy/numpy/blob/main/numpy/core/code_generators/cversions.txt

name: Test different dependency versions

on:
  # quite a few jobs, so let's not run this on every push
  workflow_dispatch:
  schedule:
    # run once a day at 12:00 UTC
    - cron: '0 12 * * *'
    
jobs:
  test:
    name: Test dependency combination
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Using 3*3=9 out of the maximum 256 jobs
        python: ["3.10", "3.11", "3.12"]
        aiohttp: ["3.9.0rc0"]
        joblib: ["1.3"]
        networkx: ["3.0", "3.1", "3.2"]
        numpy: ["1.26"]  # TODO "1.23", "1.24", "1.25" for python <3.12
        shapely: ["2.0"]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies & library
        run: |
          poetry install --all-extras --no-interaction
          poetry add aiohttp=~${{ matrix.aiohttp }} --python="<=${{ matrix.python }}" --no-interaction
          poetry add joblib=~${{ matrix.joblib }} --python="<=${{ matrix.python }}" --no-interaction
          poetry add networkx=~${{ matrix.networkx }} --python="<=${{ matrix.python }}" --no-interaction
          poetry add shapely=~${{ matrix.shapely }} --python="<=${{ matrix.python }}" --no-interaction
          poetry add numpy=~${{ matrix.numpy }} --python="<=${{ matrix.python }}" --no-interaction

      - name: Test with pytest
        run: poetry run pytest -vv --ignore test/test_large_data.py
